<form class="form-horizontal" {{action "onSubmitPost" on="submit"}}>
	<div class="form-group">
		<label class="col-md-2 control-label">Comment</label>
		<div class="col-md-10">
			{{textarea value=text class="form-control" rows="5"}}
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-offset-2 col-md-10">
	    	<button type="submit" class="btn btn-default">Comment!</button>
	    </div>
	</div>
</form>
