<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<!-- ----------------------------------------------------##############################################-------------------------------------------------- -->
		<h1>Global Events And Matchmaking Tab</h1>
		<div class="container"> <!-- MAIN EVENTS FRAME -->
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="btn-group pull-right" role="group">
							<a href="#" class="btn btn-default btn-header no-border">Most Recent</a>
							<a href="#" class="btn btn-default btn-header no-border">Upcoming</a>
							<a href="#" class="btn btn-default btn-header no-border">Matchmaking</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<p class="h2 reduced-top-margin">Most Recent Events</p>
					{{Events-content}}
		</div><!-- end event frame -->
	</body>
</html>