<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
				</div>
					<ul class="list-group">
						<li class="list-group-item">
							<div class="container-fluid"> 
								<!-- dummy group box -->
								<div class="row">
									<div class="col-md-3">
										<img class="img-responsive" src="p.png"></img>
									</div>
									<div class="col-md-9">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ipsum sem, a varius ligula facilisis ut. Quisque lectus purus, consectetur id tellus scelerisque, dictum hendrerit leo. Suspendisse feugiat est ut enim porttitor ultricies. Sed dignissim, nisl pellentesque semper congue, nulla velit pellentesque felis, at imperdiet neque lorem vitae sem. Ut dapibus porta metus non sagittis. Pellentesque interdum elit quam, eget vulputate nibh ullamcorper et. Vestibulum quam massa, aliquam id vulputate vitae, consequat eget libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sed justo dignissim, pulvinar ante id, convallis nisi. Suspendisse et interdum ligula.</p>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid"> 
								<!-- dummy group box -->
								<div class="row">
									<div class="col-md-3">
										<img class="img-responsive" src="p.png"></img>
									</div>
									<div class="col-md-9">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ipsum sem, a varius ligula facilisis ut. Quisque lectus purus, consectetur id tellus scelerisque, dictum hendrerit leo. Suspendisse feugiat est ut enim porttitor ultricies. Sed dignissim, nisl pellentesque semper congue, nulla velit pellentesque felis, at imperdiet neque lorem vitae sem. Ut dapibus porta metus non sagittis. Pellentesque interdum elit quam, eget vulputate nibh ullamcorper et. Vestibulum quam massa, aliquam id vulputate vitae, consequat eget libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sed justo dignissim, pulvinar ante id, convallis nisi. Suspendisse et interdum ligula.</p>
									</div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="container-fluid"> 
								<!-- dummy group box -->
								<div class="row">
									<div class="col-md-3">
										<img class="img-responsive" src="p.png"></img>
									</div>
									<div class="col-md-9">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ipsum sem, a varius ligula facilisis ut. Quisque lectus purus, consectetur id tellus scelerisque, dictum hendrerit leo. Suspendisse feugiat est ut enim porttitor ultricies. Sed dignissim, nisl pellentesque semper congue, nulla velit pellentesque felis, at imperdiet neque lorem vitae sem. Ut dapibus porta metus non sagittis. Pellentesque interdum elit quam, eget vulputate nibh ullamcorper et. Vestibulum quam massa, aliquam id vulputate vitae, consequat eget libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sed justo dignissim, pulvinar ante id, convallis nisi. Suspendisse et interdum ligula.</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
	</body>
</html>