<div class="panel panel-default">
    <ul class="list-group scroll">
        <li class="list-group-item li-size">
            <div class="row">
                <div class="col-md-4">Name:</div> 
                <div class="col-md-6"></div> 
            </div>
            <div class="row">
                <div class="col-md-4">Name:</div> 
                <div class="col-md-6"></div> 
            </div>
        </li>    
    </ul>
</div>

