<!doctype html>
<html>
  <head>
      
      <!--jQuery-->
      <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      
       <!-- Style CSS -->
       <link rel="stylesheet" href="style1.css">
        
      <meta charset="utf-8">
   
  </head>
  <body>
<div class="row">
          <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                Reviews
              </div>
              
              <ul class="list-group scroll">
                <li class="list-group-item li-size">ljasdfasdfjasdf</li>
                <li class="list-group-item li-size">ljasdfasdfjasdf</li>
                <li class="list-group-item li-size">ljasdfasdfjasdf</li>
              </ul>
          </div>
          </div>
      </div>
	 </body>
</html>