<!--POPULAR DROPDOWN-->
<div class="panel panel-default">
	<div class="panel-heading">
		<ul class="list-group">
			{{#each gamelist as |game|}}
				<li class="list-group-item">{{#link-to "game" game.game_id}}ID: {{game.name}}{{/link-to}}</li>
			{{else}}
				<li class="list-group-item text-muted">No games ;^;</li>
			{{/each}}
		</ul>
	</div>
</div>
