<div class="panel panel-default">
    <div class="panel-heading">
        Group
    </div>

    <ul class=" list-group scroll">
        <li class="list-group-item li-size">test</li>
        <li class="list-group-item li-size">asdf</li>
        <li class="list-group-item li-size">asdf</li>
    </ul>
</div>

