<!doctype html>
<html>
  <head>
      
      <!--jQuery-->
      <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      
       <!-- Style CSS -->
       <link rel="stylesheet" href="style1.css">
        
      <meta charset="utf-8">
   
  </head>
  <body>
  <!----------------------------------------------------------------------------------------------------------------------------------------------->
      
      {{Gameview-info}}
      
      
      <!--SECOND ROW-->
                <div class="row">
                            {{Gameview-matchmaking}}
                          
                          {{Gameview-group}}
                </div>
      
      <!--THIRD ROW-->
      {{Gameview-review}}
      </div>


  </body>
</html>