<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<!-- ----------------------------------------------------##############################################-------------------------------------------------- -->
		<h1>When Viewing a group page</h1>
		<div class="container"> <!-- MAIN GROUP VIEW FRAME -->
			{{Groupview-list}}
			{{Groupview-posts}}
		</div> <!-- Main group view frame end -->
	</body>
</html>