
<div class="panel-heading col-md-12">
    <img class="img-responsive center-block" src="p.png" />
</div>
    <div class="panel-body">
        <div>
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-header no-border"><span class="glyphicon glyphicon-plus"></span>Group</a>
            </div>
               <div class="clearfix"></div>
        </div>

        <!--comienza lo que se repite-->
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted text-right">Name:</p>
            </div>
            <div class="col-md-8">
                <p>{{user_id}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted text-right">Total Members</p>
            </div>
            <div class="col-md-8">
                <p>814GH</p>
            </div>
        </div>
        <!--termina lo que se repite-->


    </div>
	