<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	<!-- ----------------------------------------------------##############################################-------------------------------------------------- -->
		<h1> <!-- User profile view-->
			User profile view
		</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-4"> <!-- AVATAR INFO PANEL -->
					{{Profile-info}}
				</div> <!-- END AVATAR INFO PANEL -->
				<div class="col-md-8">
					{{Profile-lists}}
				</div>
			</div>
			<div>
				{{Profile-posts}}
			</div>
		</div>