<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
<div class="panel panel-default">
						<div class="panel-heading">
							<div class="btn-group pull-right" role="group">
								<a href="#" class="btn btn-default btn-header no-border">Games</a>
								<a href="#" class="btn btn-default btn-header no-border">Friends</a>
								<a href="#" class="btn btn-default btn-header no-border">Groups</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="container-fluid scrollable-400">
							<div class="panel-group separate-top">
								<div class="panel panel-default">
									<div class="panel-heading"><a role="button" data-toggle="collapse" href="#owns-collapse">
										<p>Owns <span class="caret"></span></p>
										</a>
										<ul class="list-group collapse" id="owns-collapse">
											<li class="list-group-item">
												Game #1
											</li>
											<li class="list-group-item">
												Game #2
											</li>
											<li class="list-group-item">
												Game #3
											</li>
											<li class="list-group-item">
												Game #4
											</li>
											<li class="list-group-item">
												Game #5
											</li>
											<li class="list-group-item">
												Game #6
											</li>
											<li class="list-group-item">
												Game #7
											</li>
											<li class="list-group-item">
												Game #8
											</li>
											<li class="list-group-item">
												Game #9
											</li>
											<li class="list-group-item">
												Game #10
											</li>
										</ul>
									</div>
									
								</div>
								<div class="panel panel-default">
									<div class="panel-heading"><a role="button" data-toggle="collapse" href="#wishes-collapse">
										<p>Wishlist <span class="caret"></span></p>
										</a>
										<ul class="list-group collapse" id="wishes-collapse">
											<li class="list-group-item">
												Game #1
											</li>
											<li class="list-group-item">
												Game #2
											</li>
											<li class="list-group-item">
												Game #3
											</li>
											<li class="list-group-item">
												Game #4
											</li>
											<li class="list-group-item">
												Game #5
											</li>
											<li class="list-group-item">
												Game #6
											</li>
											<li class="list-group-item">
												Game #7
											</li>
											<li class="list-group-item">
												Game #8
											</li>
											<li class="list-group-item">
												Game #9
											</li>
											<li class="list-group-item">
												Game #10
											</li>
										</ul>
									</div>
									
								</div>
								<div class="panel panel-default">
									<div class="panel-heading"><a role="button" data-toggle="collapse" href="#likes-collapse">
										<p>Likes <span class="caret"></span></p>
										</a>
										<ul class="list-group collapse" id="likes-collapse">
											<li class="list-group-item">
												Game #1
											</li>
											<li class="list-group-item">
												Game #2
											</li>
											<li class="list-group-item">
												Game #3
											</li>
											<li class="list-group-item">
												Game #4
											</li>
											<li class="list-group-item">
												Game #5
											</li>
											<li class="list-group-item">
												Game #6
											</li>
											<li class="list-group-item">
												Game #7
											</li>
											<li class="list-group-item">
												Game #8
											</li>
											<li class="list-group-item">
												Game #9
											</li>
											<li class="list-group-item">
												Game #10
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</body>
			</html>