<div class="panel panel-default">
  <div class="panel-heading">
    Reviews
  </div>

  <ul class="list-group scroll">
    <li class="list-group-item li-size">
        Title: <br>
        Description: <br>
        Category: <br>
        Author: <br>
      </li>
      <li class="list-group-item li-size">
        Title: <br>
        Description: <br>
        Category: <br>
        Author: <br>
      </li>
      <li class="list-group-item li-size">
        Title: <br>
        Description: <br>
        Category: <br>
        Author: <br>
      </li>
  </ul>
</div>