<div class="panel panel-default">
  <div class="panel-heading">
    Reviews
  </div>

  <ul class="list-group scroll">
    <li class="list-group-item li-size">ljasdfasdfjasdf</li>
    <li class="list-group-item li-size">ljasdfasdfjasdf</li>
    <li class="list-group-item li-size">ljasdfasdfjasdf</li>
  </ul>
</div>