<div class="panel panel-default">
    <div class="panel-heading">
        Groups
    </div>

    <ul class=" list-group scroll">
        <li class="list-group-item li-size">
            <div class="row">
            Group Name: <br>
            Description: <br>
            Total Members: <br>
            Some Members: <br>
                <button class="pull-right">
                hola
                </button>
            <a href="#" class="btn btn-default btn-header"><span class="glyphicon glyphicon-plus"></span>Add</a>
            <div class="clearfix"></div>
            </div>
                            </li>
        <li class="list-group-item li-size">
            Group Name: <br>
            Description: <br>
            Total Members: <br>
            Some Members: <br>

            <div class="pull-right">
                <a href="#" class="btn btn-default btn-header"><span class="glyphicon glyphicon-plus"></span>Add</a>
            </div> 
            <div class="clearfix"></div>
                            </li>
        <li class="list-group-item li-size">
            Group Name: <br>
            Description: <br>
            Total Members: <br>
            Some Members: <br>
            
            <div class="pull-right">
                <a href="#" class="btn btn-default btn-header"><span class="glyphicon glyphicon-plus"></span>Add</a>
            </div>
            <div class="clearfix"></div>
                            </li>
        
    </ul>
</div>

