<div class="panel panel-default"> <!-- CONTENT, DUPLICATED STRUCTURE -->
		<div class="panel-heading">
			<div class="btn-group pull-right" role="group">
				<a href="#" class="btn btn-default btn-header no-border">Newest</a>
				<a href="#" class="btn btn-default btn-header no-border">Highlights</a>
			</div>
			<h1>Posts</h1>
			<div class="clearfix"></div>
		</div>
			
			
		
		<ul class="list-group scrollable-800">
			<li class="list-group-item"> <!-- Single Post (text) -->
				<div class="row">
					<div class="col-md-1">
						<img class="img-responsive" src="p.png" />
					</div>
					<div class="col-md-11">
						<p class="med-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ipsum sem, a varius ligula facilisis ut. Quisque lectus purus, consectetur id tellus scelerisque, dictum hendrerit leo. Suspendisse feugiat est ut enim porttitor ultricies. Sed dignissim, nisl pellentesque semper congue, nulla velit pellentesque felis, at imperdiet neque lorem vitae sem. Ut dapibus porta metus non sagittis. Pellentesque interdum elit quam, eget vulputate nibh ullamcorper et. Vestibulum quam massa, aliquam id vulputate vitae, consequat eget libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sed justo dignissim, pulvinar ante id, convallis nisi. Suspendisse et interdum ligula.</p>
					</div>
				</div>
			</li>
			<li class="list-group-item"> <!-- Single Post (image) -->
				<div class="row"> 
					<div class="col-md-1">
						<img class="img-responsive" src="p.png" />
					</div>
					<div class="col-md-7">
						<p class="med-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur ipsum sem, a varius ligula facilisis ut. Quisque lectus purus, consectetur id tellus scelerisque, dictum hendrerit leo. Suspendisse feugiat est ut enim porttitor ultricies. Sed dignissim, nisl pellentesque semper congue, nulla velit pellentesque felis, at imperdiet neque lorem vitae sem. Ut dapibus porta metus non sagittis. Pellentesque interdum elit quam, eget vulputate nibh ullamcorper et. Vestibulum quam massa, aliquam id vulputate vitae, consequat eget libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras sed justo dignissim, pulvinar ante id, convallis nisi. Suspendisse et interdum ligula.</p>
					</div>
					<div class="col-md-4">
						<img class="img-responsive" src="p.png" />
					</div>
				</div>
			</li>
		</ul>
	</div> <!-- END CONTENT, DUPLICATED STRUCTURE -->