<!--NAV BAR BEGIN-->

<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<!-- Non-Collapsed area -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Gamer:Net</a>
		</div>
		
		<!-- Collapsible area -->
		<div class="collapse navbar-collapse" id="collapse-navbar-1">
			<ul class="nav navbar-nav">
                
               <li>{{#link-to 'game'}}Game List{{/link-to}}</li>
				
				<li><a href="#">Group List</a></li>
				<li class="active"><a href="#">Events & Matchmaking</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--NAV BAR END-->


<div class="container">
    
	{{outlet}}
</div>