<div class="container"> <!-- finished datafying -->
    {{game-info-panel consoles=model.platforms description=model.desc image=model.image name=model.name onAddOwn="addOwn" onAddWant="addWant" onAddLike="addLike"}}
          <!--SECOND ROW-->
    <div class="row">
        <div class="col-md-4">
            {{match-making-panel matchmakings=model.matchmakings}}
        </div>

        <div class="col-md-8">
            {{game-group-list-panel relatedGroups=model.groups}}
        </div>
    </div>

          <!--THIRD ROW-->
    <div class="row">
      <div class="col-md-12">
          {{reviews-panel reviews=model.reviews}}
      </div>
    </div>
</div>
