<div class="panel panel-default">
    <div class="panel-heading text-center">
       	<h2 class="panel-title">Groups</h2>
        <div class="pull-right">
            <a href="#" class="btn btn-default btn-header">New Group</a>
            <a href="#" class="btn btn-default btn-header">Most Popular Group</a>
        </div>
		<div class="clearfix"></div>
    </div>
	{{general-group-list-panel groups=groups}}
</div>
