<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Event
      </div>

      <ul class="list-group">
		  {{#each model as |event|}}
        <li class="list-group-item">Author Id: {{event.author_id}}<br>Category:{{event.event_post_category}}<br> Title: {{event.title}}<br> Description:{{event.text_body}}</li>
		  {{/each}}
      </ul>
  </div>
</div>