<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        Event
      </div>

      <ul class="list-group">
		  {{#each model as |event|}}
        <li class="list-group-item">Author: {{event.author_id}}<br>Console: PC<br> Title: Test<br> Description:
          fasdhfasdhfjasdfhkasdfh
          asdfjaksdfhjkasdfhkjsadhfkjahsdkfjhkasjdhfkjashkfjhaksjfhkahsdf
          asdfhjaksdfhjkasdhfkjhasdf
          asasdfasdfasdf.</li>
		  {{/each}}
      </ul>
  </div>
</div>