<div class="row">
	<div class="col-md-4"> <!-- AVATAR INFO PANEL -->
		{{avatar-info-panel user=model}}
	</div> <!-- END AVATAR INFO PANEL -->
	<div class="col-md-8">
		<!-- Rightpanel	-->
        {{user-right-panel}}
    </div>
</div>
{{user-post-panel}}